

body{
  font-family:cursive;
  
  background-color: #ffffff; 
  margin: 1;
  color: #281cd3; 
  



}
div{




}

.tarjetas-herramientas{
  border:1px solid #fffefe;
  padding: 15;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #d3d3d3;
  border-left: 6px solid #db3434;
  padding-left: 20px;
}
